.navbar {
  background-color: #020617;
  border-bottom: 1px solid #1e293b;
  position: relative;
  z-index: 1000;
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar__logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f8fafc;
  text-decoration: none;
}

.navbar__toggle{
  display: none;
  background: none;
  border: none;
  color: #f8fafc;
  font-size: 1.6rem;
  cursor: pointer;
}

.navbar__menu{
  display: flex;
  align-items: center;
  gap: 24px;
}


/* Links */
.navbar__links {
  display: flex;
  gap: 20px;
}

.navbar__link {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s;
}

.navbar__link:hover {
  color: #f8fafc;
}

/* Activo */
.navbar__link.active {
  color: #3b82f6;
  font-weight: 500;
}

/* Auth */
.navbar__auth {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__user {
  font-size: 0.9rem;
  color: #94a3b8;
}

/* Botones */
.btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
}

.btn--primary {
  background-color: #2563eb;
  color: #fff;
}

.btn--primary:hover {
  background-color: #2563eb;
}

.btn--logout {
  background-color: transparent;
  color: #f87171;
  border: 1px solid #7f1d1d;
}

.btn--logout:hover {
  background-color: rgba(248, 113, 113, 0.1);
}
/*Movile*/

@media(max-width: 768px){
  .navbar__toggle{
    display: block;
  }

  .navbar__menu{
    position: absolute;
    top: 64px;
    width:100%;
    left: 0;
    background-color: #020617;
    border-top: 1px solid #1e293b;
    border-bottom: 1px solid #1e293b;
    flex-direction: column;
    padding: 20px;
    display: none;
    border: 0;
    z-index: 999;
  }

  .navbar__menu.is-open{
    display: flex;
  }

  .navbar__link{
    flex-direction: column;
    gap: 12px;
  }

  .navbar__auth{
    margin-top: 16px;
    flex-direction: column;
    gap: 12px;
  }
}